node_modules
npm-debug.log
backend/api-gateway/node_modules
backend/api-gateway/npm-debug.log
backend/api-gateway/logs
backend/api-gateway/.env
frontend/pwa/node_modules
frontend/pwa/dist
.git
.gitignore
test
tests
__tests__
coverage
.vscode
.idea
.DS_Store

